# GEMINI_API_KEY: Optional Gemini API Key
GEMINI_API_KEY=""

# APP_URL: The URL where this app is hosted
APP_URL=""

# TELEGRAM USERBOT SETTINGS (Telethon)
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""
TELEGRAM_PHONE=""

# AI MODEL CONFIGURATIONS
BOT_TOKEN=""
AI_API_KEY=""
AI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
AI_MODEL="gemini-2.5-flash"
OWNER_ID=""
MAX_HISTORY_MESSAGES=20

